Machine Learning Programming/Programming - Week2 exercise/data/expedia-personalized-sort
Machine Learning Programming/Programming - Week2 exercise/data/airpassenger.csv
.ipynb_checkpoints/*
AIDI all solutions/AIDI 1006 AI Infrastructure and Arch/Assignment 1/cifar-10-batches-py/batches.meta
AIDI all solutions/AIDI 1006 AI Infrastructure and Arch/Assignment 1/cifar-10-batches-py/data_batch_1
AIDI all solutions/AIDI 1006 AI Infrastructure and Arch/Assignment 1/cifar-10-batches-py/data_batch_2
AIDI all solutions/AIDI 1006 AI Infrastructure and Arch/Assignment 1/cifar-10-batches-py/data_batch_3
AIDI all solutions/AIDI 1006 AI Infrastructure and Arch/Assignment 1/cifar-10-batches-py/data_batch_4
AIDI all solutions/AIDI 1006 AI Infrastructure and Arch/Assignment 1/cifar-10-batches-py/data_batch_5
AIDI all solutions/AIDI 1006 AI Infrastructure and Arch/Assignment 1/cifar-10-batches-py/test_batch
AIDI all solutions/AIDI 1006 AI Infrastructure and Arch/Assignment 1/cifar-10-batches-py/train.zip
